/app/assets/*

# only want in built versions
node_modules/

tmp/

.DS_Store

# where react secrets go
client/.env

# secrets and credentials
/config/master.key

# we never gonna use then, just being safe
db/seeds.rb
db/oldseeds.rb

#new stuff
# Ignore bundler config.
/.bundle
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets