<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Test</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <p>Dear <%= @user.username %></p>
  <p>Sincerely,<br> We are in the process of building our password resets</p>
</body>
</html>
