.about_page section {
    border-radius: 20px;
    background-color: var(--primary);
    padding: 10px;
    margin: 20px auto 20px auto;
    max-width: 700px;
}

.about_page h1 span {
    color: var(--secondary)
}

.about_page h2 {
    margin-bottom: 0;
}

.welcome {
    font-size: 2.5rem;
}

.version_section {
    max-width: 450px !important;
}

.version_details {
    background-color: var(--primary-selected);
    padding: 10px;
    border-radius: 5px;
}

.version_section h4 {
    color: var(--secondary) !important;
}

.version_section h3 {
    color: var(--secondary) !important;
    margin: 0;
}

.version_section p {
    margin: 0;
    font-size: 14px;
}

.about_page section p span {
    color: var(--secondary) !important;
}

.version_section h4 {
    font-style: italic;
    letter-spacing: 1px;
}

.headshot_container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.headshot_container img {
    margin: 1rem;
    /* filter: saturate(0); */
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 0;
}