:root {
    --primary: #004f6b;
    --primary-selected: #1c627a;
    --primary-lightened: #125167;
    --primary-shadowed: #133e4c;
    --primary-selected-highlight: #1c627a;
    --secondary: #eec643;
    --tertiary: #011638;  /* Oxford Blue */
    --accent: #003d53;
    --success: #8bcd49;
    --success2: #77ae3f;
    --fail: #a11919;
    --site-background: #141414;
    --white-1: #f4f4f4;
    --white-2: #bcd0d7;
    --white-3: #8f9fa5;
    --dark-grey: #2a2a2a;
    --black-1: black;
  }

  body {
    margin: 0;
    padding: 0;
}
  
:focus {
  outline: none;
}

a {
  color: inherit; /* Inherit color from the parent element (usually black) */
  user-select: none;
}


/* Style all text inputs to be minimal */
input[type="text"],
input[type="text"]:-webkit-autofill,
input[type="password"],
input[type="password"]:-webkit-autofill,
input[type="text"]:focus,
input[type="password"]:focus,
textarea,
textarea:focus {
  background-color: var(--tertiary);
  border: none;
  padding: .4rem;
  outline: none;
  color: white;
}

button {
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  /* padding: 15px; */
}

button:hover {
  /* background-color: var(--success); */
  cursor: pointer;
}