.top_container {
    display: flex;
    width: 100%;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    justify-content: center; /* Horizontally center the content */
    /* align-items: center; */
}

.left_half {
    flex: 1; /* Allow the left-half to take 50% of the available space */
    font-size: 3rem;
    font-weight: bold;
    /* text-align: left; */
    margin: 0;
    max-width: 500px;
    line-height: 3rem;
    margin-top: 1.5rem;
}

.left_text {
    margin: 1rem;
    margin-top: 0;
    /* padding-top: 1rem; */
    /* padding-left: 2rem; */
    text-align: left;
    /* text-align: center; */
    margin-bottom: 1.5rem;
}

.finally {
    /* padding-bottom: .3rem; */
    /* animation: finallyAnimation 1.5s forwards; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.cta_mask {
    margin: 1rem;
    mask-image: linear-gradient(transparent 0%, black 6%, black 100%);
    padding: 1rem;
    padding-top: 0rem;
}

.cta {
    font-size: 2.8rem;
    margin: 0;
    animation: ctaAnimation 1.5s forwards;
    animation-delay: 0s;
}

.before,
.after,
.for,
.your,
.website {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
}

.before {
    animation: beforeAnimation 3s forwards;
    animation-delay: 0s;
}

.after {
    animation: afterAnimation 3s forwards;
    animation-delay: 0s;
}

.for {
    animation: forAnimation 7s forwards;
    animation-delay: -3.1s;
}

.your {
    animation: yourAnimation 7s forwards;
    animation-delay: -3.1s;

}

.website {
    animation: websiteAnimation 7s forwards;
    animation-delay: -3.1s;

}

@keyframes ctaAnimation {
    0% {
      transform: translateY(-300px);
    }
    10% {
      transform: translateY(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes finallyAnimation {
    0% {
        color: var(--secondary);
    }
    40% {
        color: var(--secondary);
    }
    /* 91% {
        color: inherit;
    } */
    100% {
        color: inherit;
    }
}

@keyframes beforeAnimation {
    0% {
        color: inherit;
    }
    50% {
        color: inherit;
        transform: scale(1);
    }
    51% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    60% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    71% {
        transform: scale(1);
        color: inherit;
    }
    100% {
        color: inherit;
    }
}

@keyframes afterAnimation {
    0% {
        color: inherit;
    }
    67% {
        color: inherit;
        transform: scale(1);
    }
    68% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    78% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    79% {
        color: inherit;
        transform: scale(1);
    }
    100% {
        color: inherit;
    }
}

@keyframes forAnimation {
    0% {
        color: inherit;
    }
    80% {
        color: inherit;
        transform: scale(1);
    }
    81% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    83% {
        color: var(--secondary);
        transform: scale(1.1);
    }
    84% {
        color: inherit;
        transform: scale(1);
    }
    100% {
        color: inherit;
    }
}

@keyframes yourAnimation {
    0% {
        color: inherit;
    }
    84% {
        color: inherit;
        transform: scale(1);
        /* font-size: 2.8rem; */
        /* margin: 0; */
        transform: skewX(0deg);
    }
    85% {
        color: var(--secondary);
        transform: scale(1.1) skewX(-15deg);
        /* font-size: 3.4rem; */
        /* margin-top: .6rem; */
        /* margin-bottom: .6rem; */
        /* margin-left: .3rem; */
        /* margin-right: .3rem; */
        transform: skewX(-15deg);
    }
    92% {
        color: var(--secondary);
        transform: scale(1.1) skewX(-15deg);
        /* font-size: 3.4rem; */
        /* margin-top: .6rem; */
        /* margin-bottom: .6rem; */
        /* margin-left: .3rem; */
        /* margin-right: .3rem; */
    }
    93% {
        color: inherit;
        transform: scale(1);
        /* font-size: 2.8rem; */
        /* margin: 0; */

    }
    100% {
        color: inherit;
    }
}

@keyframes websiteAnimation {
    0% {
        color: inherit;
    }
    94% {
        color: inherit;
        transform: scale(1);
        margin: 0;
    }
    95% {
        color: var(--secondary);
        transform: scale(1.2) rotate(0deg);
        margin-right: 1.2rem;
    }
    96% {
        transform: scale(1.2) rotate(5deg);
    }
    97% {
        transform: scale(1.2) rotate(0deg);
    }
    98% {
        transform: scale(1.2) rotate(-5deg);
    }
    99% {
        color: var(--secondary);
        transform: scale(1.2);
        margin-right: 1.2rem;
    }
    100% {
        color: inherit;
        transform: scale(1);
        margin: 0;
    }
    100% {
        color: inherit;
    }
}

.get_yours_button {
    width: 200px;
    height: 50px;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0;
    font-size: 1.2rem;
    animation: buttonBlink 2s infinite;
    animation-fill-mode: forwards;
    animation-delay: 8s;

    color: black;

    /* -webkit-appearance: none; */

}

@keyframes buttonBlink {
    0%, 20%, 40% {
      background-color: var(--secondary); /* Start color (replace with your first color) */
    }
    10%, 30%, 50% {
      background-color: var(--success); /* Second color */
    }
    /* Define the colors and timings for additional blinks here if needed */
    60%, 100% {
      background-color: var(--secondary); /* Back to the start color */
    }
  }


.get_yours_a {
    margin: 0;
}

.get_yours_button:hover {
    background-color: var(--success);
}

.right_half {
    flex: 1; /* Allow the right-half to take 50% of the available space */
    max-width: 600px;
    /* padding-right: 1rem; */
    margin: 20px 0px 0px 0px;
}

.middle_container {
    display: flex;
    width: 100%;
    margin: auto; /* Reset margin */
    margin-top: 1rem;
    padding: 0; /* Reset padding */
    justify-content: center; /* Horizontally center the content */
    background-color: #eef0f2;
    color: black;
    user-select: none;
}

.middle_content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    width: 100%;
}

.additional_blurb {
    width: 300px;
    padding: 20px 0px 20px 0px;
    margin: auto;
    margin: 0 20px;
}

.additional_blurb h2 {
    /* min-height: 80px; */
    margin-top: 0;
}


.lower_container {
    width: 90%;
    margin: auto;
    justify-content: center; /* Horizontally center the content */
    background-color: #011739;
    user-select: none;
}

.lower_container h4 {
    color: var(--secondary)
}

.lower_container h1, p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.get_started_button {
    padding: 16px;
    margin-top: 1rem;
    /* -webkit-appearance: none; */
    color: black;

}

.get_started_button:hover {
    background-color: var(--success);
}

@media (max-width: 768px) {
    .top_container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .left_half, .right_half {
        flex: 1 1 100%; /* Take full width on smaller screens */
        min-width: 100%; /* Minimum width for the left half on smaller screens */
    }

    .left_text {
        text-align: center;
        padding: 0;
    }

}