.login_form {
    margin: 2rem;
}

.login_button {
    padding: 10px;
}

.login_button:hover {
    background-color: var(--success);
}

.button_and_forgot {
    margin: 2rem;
}

.forgot_container {
    margin: 0;
}

.forgot_password_link {
    text-decoration: underline;
    font-size: .8rem;
}

.new_here {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--secondary);
}