#nav_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: fit-content;
    padding: .2rem .6rem;
    max-width: 100%;
    max-width: 1300px;
    background-color: rgba(20, 20, 20, 1);
    margin: auto;
    margin-top: .5rem;
}

.site_logo {
    width: 200px;
    user-drag: none;
}

.nav_items {
    display: inline-block;
    /* display: flex;
    align-items: bottom; */
    text-align: center;
    font-size: 2rem;
    bottom: 0%;
}

.links_container {
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 1rem;
    display: flex;
    align-items: bottom;
}

.nav_link {
    display: inline-block;
    text-align: center;
    margin: .5rem;
    max-width: 80px;
    text-decoration: none !important;
}

.nav_link:hover {
    color: var(--white-3);
}

.user_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: .3rem;
    margin-bottom: .5rem;
}

.user_icon img {
    width: 50px; /* Adjust the size of the user avatar image */
    height: 50px; /* Adjust the size of the user avatar image */
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    /* margin-right: 2rem; */
}

.login_link {
    text-decoration: none;
}