.skip_button {
    width: 500px;
    height: 500px;
    margin-top: 2px;
    margin-left: 5.5px;
    /* fill: var(--primary); */
  }
  
  .icon_container:hover .skip_button {
    transform: scale(1.2)
  }